@tailwind base;
@tailwind components;
@tailwind utilities;

html{
 background-color: black;
}

.text{
    font-size: 150px;
    color: black;
    text-transform: capitalize;
    background-color: #BEFB7C;
    background-size: 250% 250%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
}

.text1{
    font-size: 250px;
    color: black;
    text-transform: capitalize;
    background-color: #BEFB7C;
    background-size: 250% 250%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
}

@media (max-width: 480px) {
    .text {
        font-size: 70px; /* Adjust the font size for small devices */
    }
}